.row
  .col-md-9
    %br/
    %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
    %h3 A corte Europeia de Direitos Humanos e o excesso prazal: o caso polonês
    %hr/
    / Post Content
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.
    %hr/
    .row
      .col-md-12
        %h2
          %b Colunistas da Semana
    .row
      .col-md-6.article-home
        .row
          .col-md-4
            %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante interdum, mattis ante sit amet, elementum purus. Maecenas sed accumsan ipsum.
      .col-md-6.article-home
        .row
          .col-md-4
            %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante interdum, mattis ante sit amet, elementum purus. Maecenas sed accumsan ipsum.
      .col-md-6.article-home
        .row
          .col-md-4
            %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante interdum, mattis ante sit amet, elementum purus. Maecenas sed accumsan ipsum.
      .col-md-6.article-home
        .row
          .col-md-4
            %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante interdum, mattis ante sit amet, elementum purus. Maecenas sed accumsan ipsum.
    %br/
    .row
      .col-md-12
        %h2
          %b Artigos
    %hr/
    .row
      - @posts.limit(6).each do |post|
        .col-md-6.article-home
          .row
            .col-md-4
              %img.img-responsive{:alt => "", :src => "#{post.thumb_url}"}/
            .col-md-8
              %p
                %b= link_to post.title, portal_post_path(post)
              %p= post.resume
    %br/
    .row
      .col-md-12
        %h2 
          %b Jurisprudência
    %hr/
    .row
      - @posts.includes('post_categories').where('post_categories.name = ?', 'jurisprudência').limit(4).each do |post|
        .col-md-6.article-home
          .row
            .col-md-4
              %img.img-responsive{:alt => "", :src => "#{post.thumb_url}"}/
            .col-md-8
              %p
                %b= link_to post.title, portal_post_path(post)
              %p= post.resume
  .col-md-3
    = render 'highlight'
    = render 'most_read'