.row
  .col-md-9
    %br/
    %img.img-responsive{:alt => "", :src => "#{@posts.where(featured: true).first.thumb_url if @posts.where(featured: true).first.thumb?}"}/
    %h3
      %b= link_to @post.title, portal_post_path(@post)
    %hr/
    / Post Content
    %p
      = @post.resume

    %br/
    .row
      .col-md-12
        %h2
          %b Colunistas Destaque
    %hr/
    .row
      .col-md-12.article-home
        .row
          - 6.times do
            .col-md-2
              %img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}/

    %br/
    .row
      .col-md-12
        %h2
          %b Artigos
    %hr/
    .row
      - @posts.limit(6).each do |post|
        .col-md-6.article-home
          .row
            .col-md-4
              %img.img-responsive{:alt => "", :src => "#{post.thumb_url}"}/
            .col-md-8
              %p
                %b= link_to post.title, portal_post_path(post)
              %p= post.resume
    %br/
    .row
      .col-md-12
        %h2 
          %b Jurisprudência
    %hr/
    .row
      - @posts.joins(:post_category).where('post_categories.name = ?', 'jurisprudência').limit(4).each do |post|
        .col-md-6.article-home
          .row
            .col-md-4
              %img.img-responsive{:alt => "", :src => "#{post.thumb_url}"}/
            .col-md-8
              %p
                %b= link_to post.title, portal_post_path(post)
              %p= post.resume
  .col-md-3
    = render 'highlight'
    = render 'most_read'